<div [formGroup]="formGroup" class="mb-4">
    <label [for]="controlName" class="block text-sm font-medium text-gray-700">{{ label }}</label>
    <input [formControlName]="controlName" [type]="type" [id]="controlName"
           (blur)="onBlur()"
           [placeholder]="placeholderText"
           [ngClass]="{
           'border-gray-300': !isInvalid,
           'border-red-500': isInvalid,
           }"
           class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
           [required]="required">
    <div *ngIf="isInvalid" class="text-red-500 text-sm mt-1">
        {{ errorMessage }}
    </div>
</div>
