<div class="min-h-screen flex items-center justify-center bg-indigo-100">
    <div class="max-w-md w-full bg-white shadow-md rounded-lg p-8">
        <h2 class="text-2xl font-bold mb-6">Forgot Password?</h2>

        <hr class="my-4 full-width-hr">

        <app-alert />

        <p class="pb-4">Please enter your username to search for your account.</p>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <app-form-input
                    [formGroup]="forgotPasswordForm"
                    controlName="username"
                    [required]="true"
                    placeholderText="Username"
                    [errorMessages]="{
                        required: 'Username is required',
                    }"></app-form-input>
            </div>
            <div class="flex justify-end space-x-2">
                <a routerLink="/login   " type="button" class="bg-gray-300 text-gray-800 py-2 px-4 rounded-md shadow focus:outline-none">Cancel</a>
                <button type="submit" class="bg-indigo-600 text-white py-2 px-4 rounded-md shadow hover:bg-indigo-700 focus:outline-none">Search</button>
            </div>
        </form>
    </div>
</div>
