<div class="min-h-screen flex items-center justify-center bg-indigo-100">
    <div class="max-w-md w-full bg-white shadow-md rounded-lg p-8">
        <h2 class="text-2xl font-bold mb-6 text-center">Register</h2>

        <app-alert />

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <app-form-input
                    [formGroup]="registerForm"
                    controlName="username"
                    label="Username"
                    type="text"
                    [required]="true"
                    [errorMessages]="{
                        required: 'Username is required'
                    }"></app-form-input>
            </div>
            <div class="mb-4">
                <app-form-input
                    [formGroup]="registerForm"
                    controlName="emailAddress"
                    label="Email address"
                    type="email"
                    [required]="true"
                    [errorMessages]="{
                        required: 'Email Address is required',
                        email: 'Please enter a valid email address'
                    }"></app-form-input>
            </div>
            <div class="mb-6">
                <app-form-input
                    [formGroup]="registerForm"
                    controlName="password"
                    label="Password"
                    type="password"
                    [required]="true"
                    [errorMessages]="{
                        required: 'Password is required'
                    }"></app-form-input>
            </div>

            <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded-md shadow hover:bg-indigo-700 focus:outline-none">Sign Up</button>
        </form>

        <p class="mt-4 text-center text-sm text-gray-600">
            Already have an account?
            <a routerLink="/login" class="text-indigo-600 hover:underline">Log In</a>
        </p>
    </div>
</div>
